
<div class="col text-center invisible">
    <div (onMutation)="myFunction()" [mutationConfig]="{childList: true}" id="num" #num [countUp]="endVal" [options]="options"
        (complete)="doSomethingOnComplete()"></div>
</div>

<ng-template [ngIf]="hasAnimationCompleted">
    <app-firework></app-firework>
</ng-template>

<audio class="invisible" id="myAudio">
    <source src="./assets/xo-so.mp3" type="audio/mpeg">
</audio>

<div class="p-d-flex p-jc-center">
    <h1 class="event-name-title">{{ eventName }}</h1>
</div>

<app-cards></app-cards>
<app-inevent-navigator></app-inevent-navigator>
