<div class="p-d-flex p-jc-center">
    <div class="p-m-3 p-shadow-24 card">
        <h1 #card1 class="p-mt-2 p-ml-5" id="card-1">{{initialNumber}}</h1>
    </div>
    <div class="p-m-3 p-shadow-24 card">
        <h1 class="p-mt-2 p-ml-5" id="card-2">{{initialNumber}}</h1>
    </div>
    <div class="p-m-3 p-shadow-24 card">
        <h1 class="p-mt-2 p-ml-5" id="card-3">{{initialNumber}}</h1>
    </div>
    <div class="p-m-3 p-shadow-24 card">
        <h1 class="p-mt-2 p-ml-5" id="card-4">{{initialNumber}}</h1>
    </div>
    <div class="p-m-3 p-shadow-24 card">
        <h1 class="p-mt-2 p-ml-5" id="card-5">{{initialNumber}}</h1>
    </div>
    <div class="p-m-3 p-shadow-24 card">
        <h1 class="p-mt-2 p-ml-5" id="card-6">{{initialNumber}}</h1>
    </div>
</div>
