<p-card class="p-shadow-24 p-m-4"
        [style]="{width: '45vw', 'backgroundColor': 'var(--surface-50)'}">
    <div style="margin-top: -10px; margin-bottom: -20px;">
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-success p-button-sm"><i
                        class="pi pi-play p-ml-1"></i></button>
            </div>
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-danger p-button-sm"><i
                        class="pi pi-trash p-ml-1"></i></button>
            </div>
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-info p-button-sm"><i
                        class="pi pi-download p-ml-1"></i></button>
            </div>
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-success p-button-sm"><i
                        class="pi pi-pencil p-ml-1"></i></button>
            </div>
        </div>
    </div>
</p-card>
<p-card class="p-shadow-24 p-m-4"
        [style]="{width: '45vw', 'backgroundColor': 'var(--surface-50)'}">
    <div style="margin-top: -10px; margin-bottom: -20px;">
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>
        <p-skeleton width="20rem" height="1.5rem" styleClass="p-mb-2"></p-skeleton>

        <div class="p-d-flex p-jc-center p-mt-2">
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-success p-button-sm"><i
                        class="pi pi-play p-ml-1"></i></button>
            </div>
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-danger p-button-sm"><i
                        class="pi pi-trash p-ml-1"></i></button>
            </div>
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-info p-button-sm"><i
                        class="pi pi-download p-ml-1"></i></button>
            </div>
            <div class="p-col-2">
                <button pButton disabled
                        class="p-button-raised p-button-success p-button-sm"><i
                        class="pi pi-pencil p-ml-1"></i></button>
            </div>
        </div>
    </div>
</p-card>
